// Card Component Stylesheet
// ========================================

.card {
  padding: $spacer-m;
  background-color: $offwhite;
  border: 1.2px solid $darkgreen;
  width: 65px;
  height: 65px;
  border-radius: 10px;

  @include media($medium) {
    width: 80px;
    height: 80px;
}
  //margin-bottom: $spacer-m;

    .color-block {
      width: 55px;
      height: 55px;
      margin: auto;
      border-radius: 10px;

      @include media($medium) {
        width: 65px;
        height: 65px;
    }

    }
}
