// Chip Component Stylesheet
// ========================================

.chip {
   display: flex;
   flex-direction: column;
   // align-items: center;
  // max-width:100px;
   padding:$spacer-m;

    &__avatar {
       width: $spacer-xxl;
       height: $spacer-xxl;
       font-size: 1.5rem;
       background-color: $pinkgrey;
       border-radius: 50%;
       text-align: center;
      }

    &__text-container {
       display: inline-flex;
       flex-direction: column;
     }

    &__text--description {
      font-family:$secondary-font;
      font-size: .9rem;
    }
}
