// Chip Component Stylesheet
// ========================================

.section__slider--chip {
   display: flex;
   flex-direction: column;
   padding:$spacer-m;

    &__avatar {
       width: $spacer-xxl;
       height: $spacer-xxl;
       background-color: $pinkgrey;
       border: 4px double $pink;
       border-radius: 50%;
       text-align: center;
       margin-top: $spacer-m;

       &--paragraph {
         text-align: center;
         padding-top: $spacer-m;
         font-size: 1.5rem;
       }
      }

    &__text-container {
       display: inline-flex;
       flex-direction: column;
     }

    &__text--description {
      font-family:$secondary-font;
      font-size: 1rem;
    }
}
