.rate {

  &__container {
  display: flex;
  margin-top: $spacer-m;
  margin-bottom: $spacer-s;

  }

  &__content {
    height: $spacer-m;
    width: $spacer-m;
    background-color: $darkgreen;
    border: $pink 1px solid;
    margin-right: $spacer-xxs;
    border-radius: 50%;


    &--empty {
    height: $spacer-m;
    width: $spacer-m;
    border: $pink 1px solid;
    margin-right: $spacer-xxs;
    border-radius: 50%;

  }

      &--date {
        margin-left: $spacer-s;
      }
  }

}
