// Colors Variables Settings Stylesheet
// ========================================

$darkgreen: #3c4a3b;
$pink: #dbb1b5;
$lightgreen: #80a389;
$offwhite: #f3f6f3;
$brown: #a59e9a;
$greengrey: #cccdcd;
$pinkgrey: #d9d7d8;
$alertred: #aa5e63;
$alertredfont: #300f13;
$alertwarning: #c6b981;
$darkgrey: #262626;
$avatargrey: #e8eae8;



// Main Palette List
$colors: (
  'darkgreen':    $darkgreen,
  'pink':         $pink,
  'lightgreen':   $lightgreen,
  'offwhite':     $offwhite,
  'brown' :       $brown,
  'greengrey':    $greengrey,
  'pinkgrey':     $pinkgrey,
  'alertred':     $alertred,
  'alertredfont': $alertredfont,
  'alertwarning': $alertwarning,
  'darkgrey':     $darkgrey,
  'avatargrey':   $avatargrey


);
