// Spacers Variables Settings Stylesheet
// ========================================

// Variables
$reset-0:     0;
$spacer-xxxxl:190px;
$spacer-xxxl:100px;
$spacer-xxl: 60px;
$spacer-xlg: 40px;
$spacer-lg:  30px;
$spacer-m:   15px;
$spacer-s:   10px;
$spacer-xs:  5px;
