// Typography Variables Settings Stylesheet
// ===============================================

// Font Families
$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Lora', serif;

// Text Colors Map
$type-colors: (
  'darkgrey':     ( $darkgrey ),
  'darkgreen':      ( $darkgreen ),
  'lightgreen':     ( $lightgreen ),
);
