// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================
body {
  background-color: $offwhite;
  font-family: 'nunito';
  color: $darkgreen;
  max-width: 1200px;
  margin: auto;
}

.header {
    @include media($medium) {

    }

  &__figure--logo {
    width: 280px;
    margin: auto;
    margin-top: $spacer-lg;
    margin-bottom: $spacer-s;

    @include media($small) {
      width: 300px;
    }

    @include media($medium) {
      width: 350px;
      padding-left: $spacer-m;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    padding: $spacer-m $reset-0;
    overflow: hidden;
    position: fixed;
    background-color: $lightgreen;
    bottom: $reset-0;
    width: 100%;

    @include media($large) {
        position:relative sticky;
      	background-color:$lightgreen;
        height: 30px;
        top: $reset-0;
        margin-bottom: $spacer-s;
      }
  }
      &__navigation--link {
          display: inline;
          padding: $spacer-m;
          margin-right: $spacer-m;
        }

        & a:hover {
          @include media($large) {
            padding: $spacer-xs $spacer-s $spacer-xs $spacer-s;
            font-size: 1.5rem;
            border: $pink 1px dotted;
            transition-duration: 1s;
          }
        }
        &--buttons {
          float: right;
          padding-right: $spacer-xlg;
          margin-top: $spacer-xxl;
          }
        }

.main {
  padding: $spacer-m;
  position: relative;
  background-color:$pink;


  @include media($small) {
    height: 600px;
  }

  @include media($medium) {
    height: 700px;
  }
  @include media($large) {
    height: 650px;
  }
  @include media($xlarge) {
    height: 550px;
  }

    &__section--button {
      margin: $spacer-lg $spacer-s;

      @include media($small) {
        margin-top: $spacer-xs;
      }
    }

    &__figure--image{
    max-width: 300px;

    @include media($small) {
      max-width: 500px;
    }

    @include media($medium) {
      float: right;
      max-width: 600px;
    }

    @include media($large) {
      position: absolute;
      top: $spacer-xxxxl;
      right: $reset-0;
      max-width: 710px;
    }

    @include media($xlarge) {
      top: $spacer-lg;
      max-width: 810px;
    }
    // @include media($medium) {
    //   float: right;
    //   max-width: 550px;
    // }
  }

  &__section {

    h1 {
      max-width: 300px;

        @include media($small) {
        max-width: 500px;
      }
        @include media($medium) {
        margin: $spacer-m;
        max-width: 600px;
      }
  }
    p {
      margin-top: $spacer-s;
      margin-bottom: $spacer-lg;
      width: 290px;

      @include media($small) {
        width: 333px;
      }
      @include media($medium) {
        margin: $spacer-m;
        width: 400px;
      }
    }
  }
}
.section__about {

  margin: $spacer-lg $reset-0;
  padding: $spacer-lg;

  @include media($large) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    &--container {
        @include media($xlarge) {
          display: flex;
          justify-content: center;
          margin: $spacer-xlg $reset-0;

        }

    }

  .border-bottom {
    border-bottom: 1.5px solid $pink;
    width: $spacer-xxxl;
    text-align: center;
    padding-bottom: $spacer-xs;
  }
  h1 {
    text-align: center;
  }

  h3 {
    width:100%;
    margin: auto;
    padding: $spacer-lg 0;

  }

  .center {
    padding: $spacer-m 0;
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 250px;

    @include media($medium) {
      max-width: 350px;
      margin: auto;
    }

  }
    &--button {
    padding: $spacer-lg 0;
    text-align: center;
  }
}

.section__contact {
  h2 {
    text-align: center;
    margin: 2%;
  }

  &__container {
    display: grid;
    grid-template-columns: [first] 5% [two] auto [three] 5% [end];
    grid-template-rows: [row1-start] 60px [row2] 60px [row3] 60px [row4] 60px [row5] 60px;
  }
// .section__contact {
//   height: 50vh;
//   display: flex;
//   flex-direction: column;
//   text-align: CENTER;
//   margin-top: $spacer-xxl;
//   width: 300px;
//
//   @include media($medium) {
//     width: 500px;
//     margin: auto;
//   }
//   @include media($large) {
//     width: 1000px;
//     margin: auto;
//   }
//   @include media($xlarge) {
//     width: 1100px;
//     margin: auto;
//   }



  &--form-element{
    // padding: $spacer-s;
    // display: block;
    grid-column-start: two;
    grid-column-end: three;
    display: flex;
    justify-content: center;

    &--actions {
      margin: $spacer-m $reset-0;
      text-align: center;
    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {
  background-color: $pink;
  padding: $spacer-lg 0 $spacer-xxxl 0;
  text-align:center;

    &__figure--pinkicon {
      width: $spacer-lg;
      height:$spacer-lg;
      border-radius: 50%;
      border:1px solid $darkgreen;
      padding: $spacer-xs;
      margin: $spacer-s;

    }
    &__figure--greenicon {
        width: $spacer-lg;
        height:$spacer-lg;
        background-color: $darkgreen;
        border-radius: 50%;
        padding: $spacer-xs;
        margin: $spacer-s;
      }
h5 {
padding-bottom: $spacer-xs
}

}

.flex-container {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-around;

  @include media($medium) {
    max-width: 450px;
  }
}
