// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================
body {
  background-color: $offwhite;
  font-family: 'nunito';
  color: $darkgreen;
  max-width: 1200px;
  margin: auto;
}

.header {

  &__figure--logo {
    width: 250px;
    margin: $spacer-m auto;


    @include media($small) {
      width: 300px;
    }

    @include media($medium) {
      width: 350px;
      padding-left: $spacer-m;
    }
    @include media($large) {
      width: 400px;
        margin: $spacer-xxl auto;
    }
  }

  &__navigation {
    display: flex;
    justify-content: flex-end;
    padding: $spacer-m $reset-0;
    overflow: hidden;
    position: fixed;
    background-color: $lightgreen;
    bottom: $reset-0;
    width: 100%;

    @include media($large) {
        position:relative sticky;
      	background-color:$lightgreen;
        height: 30px;
        top: $reset-0;
        margin-bottom: $spacer-s;
        max-width: 1200px;
      }
  }
      &__navigation--link {
          display: inline;
          padding: $spacer-m;
          margin-right: $spacer-m;
        }

        & a:hover {
          @include media($large) {
            padding: $spacer-xs $spacer-s $spacer-xs $spacer-s;
            font-size: 1.5rem;
            border: $pink 4px double;
            transition-duration: 1s;
          }
        }
        &--buttons {
          float: right;
          padding-right: $spacer-xlg;

          @include media($large) {
            margin-top: $spacer-m;
          }
        }

        }

.main {
  padding: $spacer-m;
  position: relative;
  background-color:$pink;


  @include media($small) {
    height: 600px;
  }

  @include media($medium) {
    height: 700px;
  }
  @include media($large) {
    height: 650px;
  }
  @include media($xlarge) {
    height: 550px;
  }

    &__section--button {
      margin: $spacer-lg $spacer-s;

      @include media($small) {
        margin-top: $spacer-xs;
      }
    }

    &__figure--image{
    max-width: 300px;

    @include media($small) {
      max-width: 500px;
    }

    @include media($medium) {
      float: right;
      max-width: 600px;
    }

    @include media($large) {
      position: absolute;
      top: $spacer-xxxxl;
      right: $reset-0;
      max-width: 710px;
    }

    @include media($xlarge) {
      top: $spacer-lg;
      max-width: 810px;
    }
    // @include media($medium) {
    //   float: right;
    //   max-width: 550px;
    // }
  }

  &__section {

    h1 {
      max-width: 300px;

        @include media($small) {
        max-width: 500px;
      }
        @include media($medium) {
        margin: $spacer-m;
        max-width: 600px;
      }
  }
    p {
      margin-top: $spacer-s;
      margin-bottom: $spacer-lg;
      width: 290px;

      @include media($small) {
        width: 333px;
      }
      @include media($medium) {
        margin: $spacer-m;
        width: 400px;
      }
    }
  }
}
.section__about {

  margin: $spacer-lg $reset-0;
  padding: $spacer-lg;

  @include media($large) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

    &--container {

        @include media($xlarge) {
          display: flex;
          justify-content: center;
          margin: $spacer-xlg $reset-0;
        }
      }

  .border-bottom {
    border-bottom: 1.5px solid $pink;
    width: $spacer-xxxl;
    text-align: center;
    padding-bottom: $spacer-xs;
  }
  h1 {
    text-align: center;
  }

  h3 {
    width:100%;
    margin: auto;
    padding: $spacer-lg 0;

  }

  .center {
    padding: $spacer-m 0;
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 250px;

    @include media($medium) {
      max-width: 350px;
      margin: auto;
    }

  }
    &--button {
    padding: $spacer-lg 0;
    text-align: center;
  }

  &--slider {

    /* Slideshow container */
    .slideshow-container {
      max-width: 1200px;
      position: relative;
      text-align: center;

    }
.chip__avatar {
margin: auto;
text-align: center;
justify-content: center;
}
.rate__container {
  justify-content: center;
}

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: $spacer-m;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }

    .bold {
      font-weight: bold;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: $spacer-xs 0 0 $spacer-xs;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: $darkgreen;
    }

    /* Caption text */
    .text {
      color: $offwhite;
      padding: $spacer-xs;
      position: absolute;
      bottom: $spacer-xs;
      width: 100%;
      text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
      color: $offwhite;
      padding: $spacer-xs;
      position: absolute;
      top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: $spacer-m;
      width: $spacer-m;
      margin: 0 2px;
      background-color: $brown;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: $greengrey;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

    @keyframes fade {
      from {opacity: .4}
      to {opacity: 1}
    }

  }
}

.section__contact {
  h2 {
    text-align: center;
    margin: 2%;
  }

  &__container {
    display: grid;
   grid-template-columns: [first] 5% [two] auto [three] 5% [end];
    grid-template-rows: [row1-start] 60px [row2] 60px [row3] 60px [row4] 60px [row5] 60px;
  }

  &--form-element{
    grid-column-start: two;
    grid-column-end: three;
    display: flex;
    justify-content: center;

    &--actions {
      margin: $spacer-m $reset-0;
      text-align: center;
    }
  }
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {
  background-color: $pink;
  padding: $spacer-lg 0 $spacer-xxxl 0;
  text-align:center;

    &__figure--pinkicon {
      width: $spacer-lg;
      height:$spacer-lg;
      border-radius: 50%;
      border:1px solid $darkgreen;
      padding: $spacer-xs;
      margin: $spacer-s;
      border: 4px double $darkgreen;

      @include media($large) {
        width: $spacer-xlg;
        height:$spacer-xlg;
      }
    }

    &__figure--greenicon {
        width: $spacer-lg;
        height:$spacer-lg;
        background-color: $darkgreen;
        border-radius: 50%;
         border: 4px double $pink;
        padding: $spacer-xs;
        margin: $spacer-s;


        @include media($large) {
          width: $spacer-xlg;
          height:$spacer-xlg;
        }
      }
h5 {
padding-bottom: $spacer-xs
}

}

.flex-container {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-around;

  @include media($medium) {
    max-width: 450px;
  }
}
