// Base Layout Stylesheet
// This is where your layout of the project will go
// ========================================
body {
  background-color: $offwhite;
  font-family: 'nunito';
  color: $darkgreen;
}

.header {
  height: 27vh;

  &__figure--logo {
    width: 280px;
    margin: auto;
    margin-top: $spacer-lg;
    margin-bottom: $spacer-s;

    @include media($medium) {
      width: 350px;
      padding-left: $spacer-m;
    }
  }
  &__navigation {
    display: flex;
    justify-content: flex-end;
    padding: $spacer-m;
    overflow: hidden;
    position: fixed;
    background-color: $lightgreen;
    bottom: 0;
    width: 100%;
  }
      &__navigation--link {
          display: inline;
          padding: $spacer-m;
          margin-right: $spacer-m;
        }

        &__navigation--link a:hover {
            padding: $spacer-xs $spacer-xs $spacer-xs $spacer-xs;
            background-color: $darkgreen;
             transition-duration: 1s;
          }

        &--buttons {
          float: right;
          padding-right: $spacer-m;
          }
}

.main {
  padding: $spacer-m;
  position: relative;
  background-color:$pink;
  height: 65vh;
  display: grid;


  &__figure--image {
    width: 100%;
    max-width: 400px;
  }

  &__section {
    margin: $spacer-lg $reset-0;
    margin: auto;

    p {
      margin: $spacer-s;
      width: 290px;
    }

    &--button {
      justify-self: center;
    }


  }
}
.section__about {
  height:60vh;
  margin: $spacer-lg $reset-0;
  display: grid;
  padding: $spacer-lg;

  .border-bottom {
    border-bottom: 1.5px solid $pink;
    width: $spacer-xxxl;
    text-align: center;
    padding-bottom: $spacer-xs;
  }
  h3 {
    width:100%;
    margin: auto;
  }

  &--button {
    margin: auto;
  }


}

.section__contact {
  height: 50vh;
  display: grid;
  text-align: center;
  padding: $spacer-lg;
}

.item-container {
    margin: $spacer-m $reset-0;
}

.footer {
  background-color: $pink;
  padding: $spacer-xxl 0;
  text-align:center;

    &__figure--pinkicon {
      width: $spacer-lg;
      height:$spacer-lg;
      border-radius: 50%;
      border:1px solid $darkgreen;
      padding: $spacer-xs;
      margin: $spacer-s;

    }
    &__figure--greenicon {
        width: $spacer-lg;
        height:$spacer-lg;
        background-color: $darkgreen;
        border-radius: 50%;
        padding: $spacer-xs;
        margin: $spacer-s;
      }
h5{
padding-bottom: $spacer-xs
}

}

.flex-container {
  width: 100%;
  max-width: 350px;
  display: flex;
  justify-content: space-around;

  @include media($medium) {
    max-width: 450px;
}
}
